
# Created by https://www.gitignore.io/api/web,ph7cms,java-web,phpcodesniffer

### Web ###
*.asp
*.cer
*.csr
*.css
*.js
*.jsp
*.rss
*.xhtml

# Keep HTML files
!*.html

# Ignore PHP files
*.php

# End of https://www.gitignore.io/api/web,ph7cms,java-web,phpcodesniffer
